:root{
  --bg: #444753;
  --sign-up: #7f8089;
  --p: #a5a6a6;
}
html, body{
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  background-color: var(--bg);
}
*{
  box-sizing: border-box;
}
.container{
  width: 65rem;
  height: 40rem;
  margin: 4rem auto 0;
  background-color: white;
  display:grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  border-radius: 5px;
  padding: 4rem 0 0 4rem;
}
.right{
  position: absolute;
  right: 0rem;
  width:25rem;
  height: 40rem;
  border-radius: 0 5px 5px 0;
}
h1{
  font-weight: 390;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
p{
  margin: 0px;
  color: var(--p);
  font-size: 0.8rem;
  font-weight: 600;
}
.sign-up{
  margin: 4rem 0rem 5rem;
}
button{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.3rem 0rem 1rem 1rem;
  align-items: center;
  background-color: white;
  margin:1.3rem 0;
  color: var(--sign-up);
  font-size: 0.7rem;
  font-weight: 900;
  border: 0.1px solid lightgray;
  border-radius: 5px;
  width: 32rem;
  cursor: pointer;
}
button:hover{
  border: none;
  box-shadow: 0.1rem 0.3rem 0.3rem 0.4rem #f1eff1;
}
.google-logo{
  width: 1.3rem;
}
.facebook-logo{
  width: 1.3rem;
}
.twitter-logo{
width: 1.3rem
}
.alternative-signup{
  display:flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top:2.3rem;
  border-top: 0.1px solid #f0eef0;
  margin: 0 -4rem;
}
.email{
  width: 10rem;
  background-color: transparent;
  border: none;
  color: var(--sign-up);
  font-size: 0.7rem;
  font-weight: 900;
  margin-right: 2.7rem;
  cursor: pointer;
}
.bottom{
  color: black;
  font-weight: 500;
  margin-left: 4rem;
}