:root {
  --top-grey: #8e8d8e;
  --pink: #e65851;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
.container1 {
  background-color: white;
  max-width: 100vw;
  height: 91vh;
  padding: 3rem 17.5rem 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid darkgrey;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apple-logo {
  width: 1.6rem;
}
a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--top-grey);
  font-weight: 500;
  font-size: 15px;
}
a:hover {
  cursor: pointer;
  color: black;
  border-bottom: 3px solid var(--top-grey);
  padding-bottom: 0.5rem;
}
input {
  margin-left: 1.5rem;
  font-size: medium;
  width: 10.5rem;
  padding-bottom: 0.2rem;
  border: none;
  border-bottom: 2px solid var(--top-grey);
}
input:focus {
  outline: none;
}
::placeholder {
  font-size: 0.95rem;
  font-weight: 600;
}
.watch {
  width: 40rem;
  height: 40rem;
  background-image: url("../img/watches.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: auto;
  flex-grow: 1;
  top: 7rem;
  right: -19.5rem;
  position: absolute;
}
.first-left {
  margin-top: 7rem;
}
.top-h1 {
  font-size: 2.7rem;
}
.top-p {
  margin-top: 4rem;
  margin-bottom: 3rem;
  color: var(--top-grey);
  border-left: 2px solid var(--top-grey);
  padding-left: 2rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.button {
  color: white;
  padding: 0.8rem;
  background: var(--pink);
  border: none;
  font-weight: 900;
}
.button:hover {
  cursor: pointer;
  filter: invert(0.05);
}
.container2 {
  padding: 1.5rem 17.5rem;
  margin-bottom: 1.5rem;
}
.middle-p {
  margin-top: 3rem;
}
.container2-top {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.dot {
  width: 4px;
  height: 4px;
  background: var(--top-grey);
  position: relative;
}
.dot:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: 1rem;
  background: var(--top-grey);
}
.dot:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: 2rem;
  background: var(--top-grey);
}
.learn-more {
  display: flex;
  align-items: center;
  margin-top: -1rem;
  width: 10rem;
}
.learn-more:hover {
  cursor: pointer;
}
.learn-more:hover .dash {
  width: 2.8rem;
}
#learn-more {
  color: var(--pink);
  font-weight: 600;
  font-size: 0.9rem;
}
.dash {
  width: 2rem;
  height: 0.13rem;
  background: var(--pink);
  margin-right: 1rem;
  transition: width 0.1s linear;
}
.know {
  margin-bottom: 5.5rem;
}
.preview {
  width: 27rem;
  margin-left: 7rem;
}
#buy-p {
  width: 27rem;
}
.container2-content {
  display: flex;
  align-items: center;
}
.container3 {
  height: 95vh;
  background-image: url("../img/runners.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 100vw;
}
#bottom-h1 {
  color: white;
}
#bottom-p {
  color: white;
  border-color: white;
}
.bottom-content {
  position: absolute;
  right: 16rem;
  bottom: 12rem;
}
body {
  overflow: overlay;
}
body::-webkit-scrollbar {
  width: 0.4rem;
}
body::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 1rem;
}
